@charset "UTF-8";
/*Importaciones*/
.navbar {
  background-image: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(121, 79, 9) 35%, rgb(255, 194, 0) 100%);
}

.btn {
  background-color: black;
  color: #b68e5d;
}

.btn:hover {
  background-color: #b68e5d;
  color: black;
}

.nav-link:hover {
  color: white;
}

/*Creación de variables*/
/*Selector Universal*/
/*Nesting*/
main div div div .h1 {
  color: #b68e5d;
  font-family: "Nunito", sans-serif;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  background-color: black;
  margin: 10px;
}

/*Background*/
* {
  background-color: #b68e5d;
}

* {
  margin: 0;
  padding: 0;
}

/*Headers*/
/*Mixin sin parámetros*/
.h1 {
  color: #b68e5d;
  font-family: "Nunito", sans-serif;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  background-color: black;
  margin: 10px;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  margin-top: 100px;
  color: black;
  font-weight: bold;
  text-align: center;
}

.h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #b68e5d;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

/*Párrafos*/
.p {
  margin: 10px;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-align: center;
}

/*Lista*/
ul {
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

/*Animaciones*/
.imagen-epa {
  animation-name: imagen-epa;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-duration: 2s;
  animation-delay: 2s;
}

@keyframes imagen-epa {
  0% {
    width: 75px;
  }
  25% {
    width: 50px;
  }
  50% {
    width: 300px;
  }
  75% {
    width: 400px;
  }
  100% {
    width: 100px;
  }
}
.somos {
  font-size: 40px;
  font-family: "Nunito", sans-serif;
  text-align: center;
  background-color: black;
  color: #b68e5d;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.links {
  background-color: black;
  color: #b68e5d;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  padding: 10px 10px 10px 10px;
  margin: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

/*Bordes*/
.border {
  border: 2px solid black;
}

/*Grid*/
#grilla-principal {
  display: grid;
  grid-template-areas: "imagen somos";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100% 80%;
  padding: 10px 10px 10px 10px;
}

/*Grilla*/
#grilla {
  display: grid;
  grid-template-areas: gráfico multimedial web branding naming;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

/*Radio y checkbox*/
.radio-styles {
  padding: 10px 10px 10px 10px;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.checkbox-styles {
  margin-top: 50px;
  margin-left: 300px;
  margin-bottom: 50px;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

/*Form*/
.form {
  margin: 50px;
  width: 50px;
  height: 60px;
}

.button {
  color: #D7A86E;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

/*Flexbox*/
.flex-container {
  border: 1px solid #A64B2A;
  background-color: antiquewhite;
  padding: 10px;
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.design {
  width: 120px;
  height: 40px;
  border: 2px solid black;
  margin: 10px 10px 10px 10px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#video {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#estilos-footer {
  margin-top: 100px;
  color: #A64B2A;
  text-align: center;
}

.box-modeling {
  border: 2px solid;
  color: #D7A86E;
  padding: 20px 30px 40px 30px;
  margin: 20px 20px;
  text-align: center;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 50px;
}

/*Footer*/
#pie {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bolder;
}

/*Pseudoclases*/
/*Pseudoclase para Portfolio*/
.portafolio:hover {
  cursor: pointer;
  width: 300px;
}

@media screen and (max-width: 479px) {
  * {
    background-color: white;
  }
  main div div div .h1 {
    color: white;
    font-family: "Nunito", sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: black;
    margin: 10px;
  }
  .h3 {
    color: white;
  }
  .somos {
    color: white;
  }
  .imagen {
    width: 60px;
  }
}
@media screen and (min-width: 480px) and (max-width: 700px) {
  * {
    background-color: white;
  }
  main div div div .h1 {
    color: white;
    font-family: "Nunito", sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: black;
    margin: 10px;
  }
  .h3 {
    color: white;
  }
  .somos {
    color: white;
  }
}

/*# sourceMappingURL=estilos.css.map */
